<% include ./partials/header %>
    <div class="headerRow">
        <h1 class="header" style="text-align: center">Add Employee</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/api/employee" method="POST" enctype="multipart/form-data">
                <div class="employeesinputName">
                    <input class="employeesinputnameContainer"type="text" name="employee[name]" placeholder="First and Last Name">
                </div>
                <div class="employeesinputTitle">
                    <input class="employeesinputtitleContainer" type="text" name="employee[title]" placeholder="Title / Position">
                </div>
                <div class="employeesinputDesc">
                  <textarea class="employeesinputdescContainer" name="employee[desc]" placeholder="Description About Employee" rows="6" cols="80"></textarea>
                </div>
                <br>
                <div style="text-align: center" class="form-group" >
                  <input type="file"  name="image" accept="image/*" >
                </div>
                <div class="submitContainer">
                    <button class="submitButton" type='submit'>Add Employee!</button>
                </div>
            </form>
    </div>