<% include ./partials/header %>
    <div class="row">
        <h1 class="header" style="text-align: center">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/add/employee/admin/login" method="post">
                <div class="userName">
                    <input class="usernameContainer" type="text" name="username" placeholder="Username">
                </div>
                <br>
                <div class="passWord">

                    <input class="passwordContainer" type="password" name="password" placeholder="Password">
                </div>
                <br>
                <div class="adminCode">
                    <input class="admincodeContainer" type="text" name="adminCode" placeholder="Admin code">
                </div>
                <br>
                <div class="submitContainer">
                    <button class="submitButton">Login!</button>
                </div>
            </form>
            <a class="registerButton" href="/add/employee/register">Register</a>

        </div>
    </div>