/*Be sure to look into browser prefixes for keyframes and annimations*/
.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }
  @keyframes flash {
    from {
      color: red;
    }
    to {
      color: white;
    }
  }
.header{
  background-color: #3E69B1;
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Lato', sans-serif;
}
.submitButton{
  height: 75px;
  width: 250px;
  background-color: #3E69B1;
  color:white;
  text-shadow: 1px 1px black;
  font-size: 24px;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
}
.submitContainer{
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  font-family: 'Lato', sans-serif;
}
.registerButton{
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Lato', sans-serif;
}
.employeeName{
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
.employeeTitle{
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.employeeDesc{
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
.employeePhoto{
  height: 50%;
  width: 50%;
}
.employeesinputName{
  font-size: 24px;
  height: 75px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: 5px;
}
.employeesinputnameContainer{
  border: 0px solid white;
}

.employeesinputTitle{
  font-size: 18px;
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: 5px;
}
.employeesinputtitleContainer{
  border: 0px solid white;
}
.employeesinputDesc{
  font-size: 18px;
  height: 150px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-top: 5px;
}
.employeesinputdescContainer{
border: 1px solid lightgray;
border-radius: 15px;
}
.userName{
  height: 100px;
  width: 100%;
  font-size: 28px;
}
.usernameContainer{
  height: 100px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
.passWord{
  height: 75px;
  width: 100%;
  font-size: 18px;
}
.passwordContainer{
  height: 75px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
.adminCode{
  height: 50px;
  width: 100%;
  font-size: 15px;
}
.admincodeContainer{
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}